<app-navbar-s></app-navbar-s>
<section class="container__profile">
  <div class="container__profile-info">
    <div class="container__profile-info--box">
      <p><i class="fab fa-facebook-f"></i>Erick King</p>
      <hr>
      <p><i class="fas fa-envelope"></i>erickkg3@gmail.com</p>
      <hr>
      <p><i class="fas fa-phone"></i>6683973927</p>
      <hr>
      <p><i class="fas fa-birthday-cake"></i>04/04/1997</p>
      <hr>
    </div>
  </div>
  <div class="container__profile-options">
    <div class="container__profile-options--box"></div>
    <div class="container__profile-options--box"></div>
  </div>
</section>