<app-navbar-s></app-navbar-s>
<section class="container__profile">
  <div class="container__profile-info">
    <div class="container__profile-info--box">
      <p>
        <i *ngIf="user?.typeAcc === 'FACEBOOK'" class="fab fa-facebook-f"></i>
        <i *ngIf="user?.typeAcc === 'GOOGLE'" class="fab fa-google"></i>
        <i *ngIf="user?.typeAcc === 'normal'" class="fas fa-user"></i>
        {{user?.name}}</p>
      <hr>
      <p><i class="fas fa-envelope"></i>{{user?.email}}</p>
      <hr>
      <a (click)="logout()">CERRAR SESION</a>
    </div>
  </div>
  <div class="container__profile-options">
    <button class="container__profile-options--box" routerLink="/store/address"> <i
        class="fas fa-map-marked-alt fa-lg"></i>DIRECCIONES</button>
    <button class="container__profile-options--box"><i class="fas fa-truck fa-lg"></i>PEDIDOS</button>
  </div>
</section>
<app-footer></app-footer>
