<app-navbar-s></app-navbar-s>
<section class="container__add">
  <h1>EDITAR DIRECCION</h1>
  <form [formGroup]="editForm">
    <p [ngClass]="{invalid: editForm?.controls.name.invalid && editForm?.controls.name.touched}">Nombre Completo</p>
    <input type="text" class="input color" formControlName="name" maxlength="50">
    <p [ngClass]="{invalid: editForm?.controls.address.invalid && editForm?.controls.address.touched}">Dirección (calle, número de casa o interior, torre, empresa)</p>
    <input type="text" class="input color" formControlName="address" maxlength="50">
    <p [ngClass]="{invalid: editForm?.controls.phone.invalid && (editForm?.controls.phone.dirty || editForm?.controls.phone.touched)}">Telefono</p>
    <input type="text" class="input color dis" formControlName="phone" minlength="10" maxlength="10" (keypress)="numberOnly($event)">
    <p [ngClass]="{invalid: editForm?.controls.postal.invalid && (editForm?.controls.postal.dirty || editForm?.controls.postal.touched)}">Codigo Postal</p>
    <input type="text" class="input color dis" formControlName="postal" minlength="5" maxlength="5" (keypress)="numberOnly($event)">
    <p *ngIf="valPostal" class="postal">AUN NO LLEGAMOS A TU DOMICILIO.</p>
    <!-- <p *ngIf="valPostal">Codigo Postal Verificado</p> -->
    <button class="submit input verf" (click)="postal()" [ngClass]="{verf2: valPostal}">Verificar</button>
    <p [ngClass]="{invalid: editForm?.controls.suburb.invalid && (editForm?.controls.suburb.dirty || editForm?.controls.suburb.touched)}">Colonia</p>
    <select class="input color dis" formControlName="suburb">
      <option *ngFor="let sub of suburb" [value]="sub">{{sub}}</option>
    </select>
    <p>Estado</p>
    <input type="text" [attr.disabled]="sia" class="input color dis" formControlName="state" maxlength="50">
    <p>Municipio</p>
    <input type="text" [attr.disabled]="sia" class="input color dis" formControlName="municip" maxlength="50">
    <p>Ciudad</p>
    <input type="text" [attr.disabled]="sia" class="input color dis" formControlName="city" maxlength="50">

    <button type="submit" class="submit input" [disabled]="editForm.invalid" (click)="edit()">Editar</button>
  </form>
  <!-- <p style="color: white; font-size: 2rem;">{{editForm.invalid}}</p> -->
</section>
<app-footer></app-footer>
