<section class="nav">
  <input type="checkbox" name="" id="navi-toggle" class="nav__checkbox" />
  <label for="navi-toggle" class="nav__button">
    <span class="nav__icon">&nbsp;</span>
  </label>
  <div class="nav__background">&nbsp;</div>

  <nav class="nav__nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="/store" class="nav__link">Tienda</a></li>
      <li class="nav__item"><a href="" class="nav__link">Noticias</a></li>
      <li class="nav__item"><a href="" class="nav__link">Horarios</a></li>
      <li class="nav__item"><a href="" class="nav__link">Instalaciones</a></li>
    </ul>
  </nav>
</section>

<section class="container__navbar">
  <a href="" class="rsize"
    ><img
      class="container__navbar-logo"
      src="https://res.cloudinary.com/dhy7mnmoe/image/upload/v1554843521/CentroFit/essential/logo.png"
      alt=""
      srcset=""
  /></a>
  <div class="container__navbar-nav">
    <a href="">Inicio</a> 
    <a href="#1">Servicios</a> 
    <a href="#2">Planes</a>
    <!-- <a routerLink="">Salir</a> -->
    <a href="" class="bola"></a>
  </div>
</section>