<section class="container__footer">

  <div class="container__footer-box cf">
    <div class="container__footer-box--icon">
      <img src="https://res.cloudinary.com/dhy7mnmoe/image/upload/v1554843521/CentroFit/essential/logo2.png" alt="" class="size">
    </div>
    <span class="title">CENTRO FIT</span>
  </div>

  <div class="container__footer-box">
    <div class="container__footer-box--name">
        <span class="title">Contactanos</span>
    </div>
    <div class="container__footer-box--opt">
      <span><i class="fas fa-phone"></i>6683973927</span>
    </div>
  </div>

  <div class="container__footer-box">
    <div class="container__footer-box--name">
        <span class="title">Direccion</span>
    </div>
    <div class="container__footer-box--opt">
      <span><i class="fas fa-map-marker-alt"></i>Calle Bienestar S/N entre Leyva y Zaragoza
        Los Mochis</span>
    </div>
  </div>

  <div class="container__footer-box mar">
    <div class="container__footer-box--name">
        <span class="title">Redes Sociales</span>
    </div>
    <div class="container__footer-box--opt social">
        <button (click)="fb()"><i class="fab fa-facebook-square fa-2x"></i></button>
        <button (click)="ig()"><i class="fab fa-instagram fa-2x"></i></button>
    </div>
  </div>

</section>
