@import "./mixin";
@import "./variable";
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 43.75%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background: $color__cf-backg;
}   