$color__cf-backg: #262626;
$color__cf-video: #000;
$color__cf-backg2: #f2f2f2;
$color__cf-green: #66cb00;
$color__cf-white: #e6e6e6;
$color__cf-diag: #0c0c0c;

.size {
    height: 100%;
    width: 100%;
}