<section class="container__navbar">
  <div class="container__navbar-logo">
    <a href="/store">
      <img src="https://res.cloudinary.com/dhy7mnmoe/image/upload/v1554843521/CentroFit/essential/logo2.png"
        alt="cf-logo" class="size">
    </a>
  </div>
  <div class="container__navbar-section">
    <a href="">MUJER</a>
    <a href="">HOMBRE</a>
  </div>
  <div class="container__navbar-icon">
    <a href=""><i class="fas fa-search"></i></a>
    <a routerLink="/auth"><i class="fas fa-user fa-lg"></i></a>
    <a href=""><i class="fas fa-shopping-bag fa-lg"></i></a>

  </div>
</section>