<section class="container__plans" id="plans">
  <div class="container__plans-box">
    <div class="container__plans-box--img">
      <img src="https://res.cloudinary.com/dhy7mnmoe/image/upload/v1553591679/Friso/Services/img-20190213-wa0009_fzvxoa.jpg" alt="" class="size">
    </div>
    <div class="container__plans-box--desc">
      <span class="title">Estudiantes</span>
      <hr>
      <span>$350</span>
      <hr>
      <span>Siempre</span>
      <hr>
      <span class="prom">12-15 NOV</span>
    </div>
  </div>
</section>