<section class="container__plans" id="plans"
data-aos="fade-up"
data-aos-offset="500">
  <div class="container__plans-box" *ngFor="let plan of plans">
    <div class="container__plans-box--img">
      <img src="{{plan.image}}" alt="" class="size">
    </div>
    <div class="container__plans-box--desc">
      <span class="title">{{plan.title}}</span>
      <hr>
      <span class="font">${{plan.price}}</span>
      <hr>
      <span class="font">{{plan.bhour}} - {{plan.ehour}}</span>
      <hr>
      <span class="prom font">{{plan.bpromo | date: 'dd MMM'}} - {{plan.epromo | date: 'dd MMM'}}</span>
    </div>
  </div>
</section>