<app-navbar-s></app-navbar-s>
<section class="container__auth">
  <section class="container__auth-login">
    <form action="" [formGroup]="loginForm">
      <span class="span log">INICIAR SESION</span>
      <input type="text" class="input" placeholder="CORREO ELECTRONICO" id="" formControlName="email">
      <input type="password" class="input" placeholder="CONTRASEÑA" id="" formControlName="password">
      <button type="submit" class="button">INICIAR SESION</button>
      <span class="span">──────── O ────────</span>
      <div class="social">
        <button type="submit" class="button socialb f"><i class="fab fa-facebook fa-lg"></i>Facebook</button>
        <button type="submit" class="button socialb g"><i class="fab fa-google"></i>Google</button>
      </div>
    </form>
  </section>
  <section class="container__auth-register">
    <form action="" [formGroup]="registerForm">
      <span class="span log">REGISTRARSE</span>
      <input type="text" class="input" placeholder="NOMBRE" id="" formControlName="name">
      <input type="text" class="input" placeholder="CORREO ELECTRONICO" id="" formControlName="email">
      <input type="password" class="input" placeholder="CONTRASEÑA" id="" formControlName="password">
      <button type="submit" class="button">REGISTRARSE</button>
      <span class="span">──────── O ────────</span>
      <!-- <div class="social">
        <button type="submit" class="button socialb f"><i class="fab fa-facebook fa-lg"></i>Facebook</button>
        <button type="submit" class="button socialb g"><i class="fab fa-google"></i>Google</button>
      </div> -->
    </form>
  </section>





</section>
