<section class="container__news" [ngClass]="{hide: config === 'true'}">
  <div class="container__news-box" *ngFor="let new of news">

    <div class="container__news-box-img">
      <img src="{{new.image}}" alt="" class="size">
    </div>
    <span class="title">{{new.title}}</span>
    <span class="desc">{{new.desc}}</span>
    <hr [ngClass]="{hr: config === 'true'}">
  </div>
  <form [formGroup]="checkForm">
    <label class="container" *ngFor="let n of checks.controls; let i = index;">
      <input type="checkbox" [formControl]="n" (change)="getValues()">
      <span class="checkmark"></span>
    </label>
  </form>
</section>

<section class="bar">
  <a><i class="far fa-plus-square fa-lg"></i></a>
  <a><i class="far fa-edit fa-lg"></i></a>
  <a><i class="far fa-trash-alt fa-lg"></i></a>
</section>
