<section class="container__news" [ngClass]="{hide: config === 'true'}">
  <div class="container__news-box" *ngFor="let plan of plans">

    <div class="container__news-box-img">
      <img src="{{plan.image}}" alt="" class="size">
    </div>
    <span class="title">{{plan.title}}</span>
    <span class="desc">{{plan.price}}</span>
    <span class="hour">{{plan.bhour}}</span>
    <span class="hour two">- {{plan.ehour}}</span>
    <span class="promo">{{plan.bpromo | date: 'dd MMM'}}</span>
    <span class="promo twwo">- {{plan.epromo | date: 'dd MMM'}}</span>
    <hr [ngClass]="{hr: config === 'true'}">
  </div>
  <form [formGroup]="checkForm">
    <label class="container" *ngFor="let n of checks.controls; let i = index;">
      <input type="checkbox" [formControl]="n" (change)="getValues()">
      <span class="checkmark"></span>
    </label>
  </form>
</section>

<section class="bar">
  <a routerLink="add" class="disabled"><i class="far fa-plus-square fa-lg"></i></a>
  <button [ngClass]="{disabled: edit === true}" [disabled]="edit" routerLink="edit" [queryParams]="{i: param}"><i class="far fa-edit fa-lg" ></i></button>
  <button [ngClass]="{disabled: remove === true}" [disabled]="remove"><i class="far fa-trash-alt fa-lg"></i></button>
</section>
