<app-navbar-s></app-navbar-s>
<section class="container__firstlook">
  <div class="container__firstlook-box">
    <img
      src="https://res.cloudinary.com/dhy7mnmoe/image/upload/v1557442043/CentroFit/Store/essential/half_hero_mens_1440x.jpg"
      class="size" alt="">
  </div>
  <div class="container__firstlook-box">
    <img
      src="https://res.cloudinary.com/dhy7mnmoe/image/upload/v1557442043/CentroFit/Store/essential/half_hero_womens_1440x.jpg"
      class="size" alt="">
  </div>
</section>
<section class="container__mostview">
  <div class="container__mostview-desc">
    <p class="uno">NUEVOS</p>
    <p class="dos">LANZAMIENTOS</p>
  </div>
  <div class="container__mostview-box">
    <div class="container__mostview-box--wrapp"></div>
    <div class="container__mostview-box--wrapp"></div>
    <div class="container__mostview-box--wrapp"></div>
  </div>
</section>
<app-footer></app-footer>
