@import "../../sass//mixin";
@import "../../sass/variable";

.container__firstlook {
  @include hxw(60vh, 100%);
  display: flex;
  &-box {
    @include hxw(100%, 50%);
    position: relative;
    button {

      padding: 1rem;
      background: black;
      color: white;
      outline: none;
      border: none;
      font-size: 1.6rem;
      cursor: pointer;
      transition: .3s;
      &:hover{
        transition: .3s;
        background: #4d4d4d;
      }
    }
    .wo {
      position: absolute;
      top: 45%;
      left: 20%;
    }
    .ma {
      position: absolute;
      top: 45%;
      right: 20%;
    }

    p {
      color: black;
      font-size: 2.2rem;
      font-size: 800;
    }
    .an {
      position: absolute;
      top: 35%;
      right: 22%;
    }
    .wa {
      position: absolute;
      top: 35%;
      left: 22%;
    }
  }
}
.container__mostview {
  @include hxw(60vh, 100%);
  // background: palegreen;
  display: flex;
  &-desc {
    @include hxw(100%, 20%);
    @include flexCenter;
    flex-direction: column;
    border-right: .5px solid #4d4d4d;
    .uno {
      font-size: 3rem;
      color: $color__cf-white;
    }
    .dos {
      color: $color__cf-white;
      font-size: 3rem;
    }
  }
  &-box {
    @include hxw(100%, 80%);
    // background: palevioletred;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--wrapp {
      @include hxw(85%, 25%);
      background: black;
    }
  }
}